---
import Layout from '/layouts/Layout.astro';
import NotinMessageGenerator from '/components/initiator-tools/notin-message-generator';
---

<Layout title="Notin Message Generator">
	<h1>NotIn Message Generator</h1>
	<NotinMessageGenerator client:only="react" />
</Layout>
