---
import Layout from '/layouts/Layout.astro';
---

<Layout title="The Majeggstics">
	<main>
		<h1>The Majeggstics</h1>
		<h3>Welcome to The Majeggstics, where No Farmer is Left Behind!</h3>
		<p>
			Majeggstics is a worldwide group of Egg Inc. players with the common goal of making sure every
			player can complete every contract, by optimizing play strategies and making fair
			contributions to our co-ops.
		</p>
		<h4>How to join our group?</h4>
		<p>
			Join the Egg Inc. discord server at the link below, then
			<abbr title="Direct Message">DM</abbr> one of our <a
				href="discord://discord.com/channels/455380663013736479/1349136920839454720/1349137229045567638"
				target="_blank"
				rel="noreferrer">recruiters</a
			>.
		</p>
		<br />
		<p>
			<a href="https://discord.gg/egginc" rel="noreferrer" target="_blank"> Egg Inc. discord </a>
		</p>

		<p>
			<a href="/guide" data-astro-prefetch>Guide</a>
		</p>
		<p>
			<a href="/contract-boost-calculator" data-astro-prefetch>Contract Boost Calculator</a>
		</p>
	</main>
</Layout>
